<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DIDACOMMUNICATIONLAB</title>
</head>
<link rel="stylesheet" href="./css/hamburgers.css">
<link rel="stylesheet" href="./css/styles.css">

<link rel="stylesheet" href="https://use.typekit.net/lrj7kma.css">

<script type="text/javascript" src="./js/vue.js"> </script>
<script type="text/javascript" src="./js/data-feed.js"></script>

<body class="intro">





  <div class="header">

    <div class="logo">
      <div class="logobox">
        <div class="puntini">
          <svg class="puntinis" id="puntino1" data-name="puntino1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
            <circle cx="14" cy="14" r="14" />
          </svg>
          <svg class="puntinis" id="puntino2" data-name="puntino2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
            <circle cx="14" cy="14" r="14" />
          </svg>
          <svg class="puntinis" id="puntino3" data-name="puntino3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
            <circle cx="14" cy="14" r="14" />
          </svg>
        </div>
        <div class="logoname">didacommunicationlab</div>
      </div>
    </div>


    <div class="menu">
      <span class="menu-item active"> <a href=""> NEWS / </a> </span>
      <span class="menu-item"> <a href=""> PROJECTS / </a> </span>
      <span class="menu-item"> <a href=""> ARCHIVE / </a> </span>
      <span class="menu-item"> <a href=""> ABOUT / </a> </span>
      <!--
      <span class="menu-item icona"> <a href="">
          <svg id="facebook-logo" data-name="facebook-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.17 26.17">
            <path
              d="M19.66,0H6.51A6.52,6.52,0,0,0,0,6.51V19.66a6.52,6.52,0,0,0,6.51,6.51H19.66a6.52,6.52,0,0,0,6.51-6.51V6.51A6.52,6.52,0,0,0,19.66,0Zm4.82,19.66a4.82,4.82,0,0,1-4.82,4.82H6.51a4.82,4.82,0,0,1-4.82-4.82V6.51A4.82,4.82,0,0,1,6.51,1.69H19.66a4.82,4.82,0,0,1,4.82,4.82Z" />
            <path class="cls-1" d="M13.17,9.41v2.94H11.08V14h2.09V25.31h1.69V14h3.59V12.35H14.86V9.41a1.66,1.66,0,0,1,1.67-1.66h3.76V6.06H16.53A3.35,3.35,0,0,0,13.17,9.41Z" />
          </svg>
        </a> </span>
      <span class="sbarra-menu">/</span>
      <span class="menu-item icona"> <a href="">
          <svg id="instagram-logo" data-name="instagram-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.17 26.17">
            <path
              d="M19.66,0H6.51A6.52,6.52,0,0,0,0,6.51V19.66a6.52,6.52,0,0,0,6.51,6.51H19.66a6.52,6.52,0,0,0,6.51-6.51V6.51A6.52,6.52,0,0,0,19.66,0Zm4.82,19.66a4.82,4.82,0,0,1-4.82,4.82H6.51a4.82,4.82,0,0,1-4.82-4.82V6.51A4.82,4.82,0,0,1,6.51,1.69H19.66a4.82,4.82,0,0,1,4.82,4.82Z" />
            <path class="cls-1" d="M13.09,6.06a7,7,0,1,0,7,7A7,7,0,0,0,13.09,6.06Zm0,12.36a5.34,5.34,0,1,1,5.34-5.34A5.34,5.34,0,0,1,13.09,18.42Z" />
            <path class="cls-1" d="M20.74,4a1.47,1.47,0,1,0,1.47,1.47A1.47,1.47,0,0,0,20.74,4Z" />
          </svg>
        </a>
      </span>
      -->

    </div>

    <div class="hamburger hamburger--elastic">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>

  </div> <!-- header -->




  <div class="main">

    <div class="colonna colonna1">
      <div class="header-colonna">
        PROJECT UPDATES
        <span class="header-colonna-arrows" onclick="scroll_columns('next')">&gt</span>
      </div>
      <div class="wrapper-colonna">
        <project-updates-feed v-for="article in project_updates" :article="article"></project-updates-feed>
      </div>
    </div>

    <div class="colonna colonna2">
      <div class="header-colonna">
        <span class="header-colonna-arrows" onclick="scroll_columns('prev')">&lt</span>
        CORSI / WORKSHOP
        <span class="header-colonna-arrows" onclick="scroll_columns('next')">&gt</span>
      </div>
      <div class="wrapper-colonna">
        <corsi-workshop-feed v-for="article in corsi_workshop" :article="article"></corsi-workshop-feed>
      </div>
    </div>

    <div class="colonna colonna3">
      <div class="header-colonna">
        <span class="header-colonna-arrows" onclick="scroll_columns('prev')">&lt</span>
        PUBBLICAZIONI
        <span class="header-colonna-arrows" onclick="scroll_columns('next')">&gt</span>
      </div>
      <div class="wrapper-colonna">
        <pubblicazioni-feed v-for="article in pubblicazioni" :article="article"></pubblicazioni-feed>
      </div>
    </div>

    <div class="colonna colonna4">
      <div class="header-colonna">
        <span class="header-colonna-arrows" onclick="scroll_columns('prev')">&lt</span>
        MOSTRE / TALKS
      </div>
      <div class="wrapper-colonna">
        <mostre-talks-feed v-for="article in mostre_talks" :article="article"></mostre-talks-feed>
      </div>
    </div>

  </div> <!-- main -->








  <script type="text/javascript">
    //

    document.querySelector('.hamburger').addEventListener("click", function() {
      this.classList.toggle("is-active");
    }, false);


    // SCROLL COLONNE HOME CON FRECCETTE

    var scroll_columns = function(direction) {
      let main = document.querySelector('.main');
      const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
      let scroll = main.scrollLeft;
      let newscroll;
      if (direction == "next") {
        newscroll = main.scrollLeft + vw;
      } else if (direction == "prev") {
        newscroll = main.scrollLeft - vw;
      }
      document.querySelector('.main').scroll(newscroll, 0);
    }

    String.prototype.formattaData = function() {
      var data = this.split(" ")[0];
      var pieces = data.split("-");
      var result = pieces[2] + "/" + pieces[1] + "/" + pieces[0]
      return result;
    }
  </script>




  <!-- DA QUI IN POI VUE -->

  <script type="text/x-template" id="project-updates-template">
    <div class="article">
      <div class="nome_progetto">{{ article.progetto_collegato.nome_progetto }}</div>
      <div class="article-img"><img :class="{ narrow: article.immagine_stretta }" :src="article.immagine.data.full_url"/></div>
      <div class="post_date">{{ article.modified_on.formattaData() }}</div>
      <div class="title">{{ article.titolo }}</div>
      <div class="excerpt">{{ article.testo }}</div>
    </div>
  </script>

  <script type="text/x-template" id="corsi-workshop-template">
    <div class="article">
      <div class="article-img"><img :class="{ narrow: article.immagine_stretta }" :src="article.immagine.data.full_url"/></div>
      <div class="event_date">{{ article.data_corso }}</div>
      <div class="title">{{ article.titolo }}</div>
      <div class="subtitle">{{ article.sottotitolo }}</div>
      <div class="excerpt">{{ article.testo }}</div>
    </div>
  </script>

  <script type="text/x-template" id="pubblicazioni-template">
    <div class="article">
      <div class="title">{{ article.titolo }}</div>
      <div class="subtitle">{{ article.sottotitolo }}</div>
      <div class="article-img"><img :class="{ narrow: article.immagine_stretta }" :src="article.immagine.data.full_url"/></div>
      <div class="authors" v-html="article.autori"></div>
      <div class="description" v-html="article.descrizione"></div>
    </div>
  </script>

  <script type="text/x-template" id="mostre-talks-template">
    <div class="article">
      <div class="subtitle">{{ article.tipologia }}</div>
      <div class="title">{{ article.titolo }}</div>
      <div class="event_date">{{ article.data_evento }}</div>
      <div class="description" v-html="article.descrizione1"></div>
      <div class="article-img"><img :class="{ narrow: article.immagine_stretta }" :src="article.immagine.data.full_url"/></div>
      <div class="description" v-html="article.descrizione2"></div>
    </div>
  </script>





  <script type="text/javascript">
    var data_feed = {
      project_updates: {},
      corsi_workshop: {},
      pubblicazioni: {},
      mostre_talks: {},
    };

    Vue.component('placeholder', {
      props: ['article'],
      data: function() {
        return {}
      },
      template: '#placeholder-template',
    })

    Vue.component('project-updates-feed', {
      props: ['article'],
      data: function() {
        return {}
      },
      template: '#project-updates-template',
    })

    Vue.component('corsi-workshop-feed', {
      props: ['article'],
      data: function() {
        return {}
      },
      template: '#corsi-workshop-template',
    })

    Vue.component('pubblicazioni-feed', {
      props: ['article'],
      data: function() {
        return {}
      },
      template: '#pubblicazioni-template',
    })

    Vue.component('mostre-talks-feed', {
      props: ['article'],
      data: function() {
        return {}
      },
      template: '#mostre-talks-template',
    })

    new Vue({
      el: '.main',
      data: data_feed
    })

    /* random text generator
    https://loripsum.net/api/1/plaintext

    internal svg link
    https://stackoverflow.com/questions/28213417/how-to-set-a-external-svg-color-in-html-using-css

    */



    var api_urls = {
      project_updates: "https://admin.lab.didacommunicationlab.it/lab/items/project_updates?filter[status]=published&fields=*.*.*",
      corsi_workshop: "https://admin.lab.didacommunicationlab.it/lab/items/corsi_workshop?filter[status]=published&fields=*.*.*",
      pubblicazioni: "https://admin.lab.didacommunicationlab.it/lab/items/pubblicazioni?filter[status]=published&fields=*.*.*",
      mostre_talks: "https://admin.lab.didacommunicationlab.it/lab/items/mostre_talks?filter[status]=published&fields=*.*.*",
    }



    var getData = function(source, receiver) {
      var oReq = new XMLHttpRequest();
      oReq.addEventListener("load", receiver);
      oReq.open("GET", source);
      oReq.send();
    }

    getData(api_urls.project_updates, function() {
      data_feed.project_updates = JSON.parse(this.responseText).data;;
    });

    getData(api_urls.corsi_workshop, function() {
      data_feed.corsi_workshop = JSON.parse(this.responseText).data;;
    });

    getData(api_urls.pubblicazioni, function() {
      data_feed.pubblicazioni = JSON.parse(this.responseText).data;;
    });

    getData(api_urls.mostre_talks, function() {
      data_feed.mostre_talks = JSON.parse(this.responseText).data;;
    });
  </script>




</body>

</html>
